/*전체 페이지 기본 레이아웃*/
* {
  margin: 0;
  padding: 0;
}
#wrapper {
  background-color: white;
  position: relative;
  margin: 0 auto;
}

/*page 배경 이미지*/
#bg {
  position: relative;
  background-image: url("../photo/frameworkPage_bg.jpg");
  background-size: cover;
  object-fit: fill;
  max-width: 100%;
  height: 230px;
}

#start-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

#name-describe {
  color: white;
  position: relative;
  z-index: 1;
}
#name-describe h1 {
  color: white;
  padding: 75px;
  text-align: center;
  font-size: 40px;
}

#content-term.third {
  margin: 0 0 60px;
  padding-top: 127px;
}

/* matrix-intro content*/
#matrix-term {
  padding-top: 150px;
}

#matrix-header {
  margin: 0 auto;
  max-width: 1440px;
  height: 144px;
  padding: 16px;
}

#matrix-header > p.title {
  font-size: xxx-large;
  font-weight: bold;
}

#matrix-header > hr {
  width: 342px;
  border: 3px solid rgba(0, 4, 255, 0.897);
  margin-bottom: 10px;
}

/*matrix 관련 css*/
#matrix-main {
  margin: 0 auto;
  width: 1440px;
}

.matrix-container::-webkit-scrollbar {
  height: 20px;
}

.matrix-container::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.matrix-container::-webkit-scrollbar-thumb {
  background-color: #343a47;
  border-radius: 10px;
}

.matrix-container {
  margin: 0 auto;
  width: 1440px;
  position: relative;
  overflow-x: scroll;
  animation: fadeInDown 1s;
}

#matrix-table {
  white-space: normal;
  line-height: 14px;
}

#matrix-table > .tactic:first-child {
  padding: 2px 5px 2px 2px;
}

a {
  align-content: center;
}

.techniques-table {
  border-collapse: collapse;
  width: 200px;
}

.techniques-table > tr {
  height: 1px;
}

td.technique {
  outline: 1px solid #6a7279;
  outline-offset: -1px;
}

.technique-cell {
  display: flex;
  font-size: 13px;
  line-height: 14px;
  align-items: center;
}

.technique-cell:hover a {
  text-decoration-line: underline;
  font-weight: bold;
}

.technique-cell:hover sub {
  text-decoration-line: underline;
  font-weight: bold;
}

.technique-cell > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 7px 3px;
  font-weight: normal;
  color: rgb(0 1 62 / 90%);
}

.technique-row {
  text-align: center;
  background-color: white;
}

.tactic {
  vertical-align: top;
}

.tactic-box {
  background-color: var(--maincolor);
  height: 60px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tactic_name,
.tactic_count {
  text-align: center;
  font-size: 16px;
}

.tactic-count {
  font-size: 13px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 3px;
  text-align: center;
  color: white;
}

.tactic-name {
  color: white;
  font-weight: bold;
  padding: 2px 5px;
}

.tactic-name:hover {
  text-decoration-line: underline;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#technique-container {
  margin: 0 auto;
  position: absolute;
  background: white;
  width: 500px;
  display: none;
  z-index: 80;
  border-radius: 20px;
  box-shadow: 0px 1px 4px 0px #607b93;
}

.dimmend.active {
  position: fixed;
  z-index: 80;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 50px;
  -webkit-transition: all 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: all 1s ease;
}

.popup {
  cursor: pointer;
  padding: 7px 0px;
  height: 33px;
  width: 15px;
  background-color: rgb(23 146 247 / 48%);
}

.popup > .mark {
  text-align: center;
  padding-bottom: 5px;
  margin-top: 10px;
  transform: rotate(-90deg);
  color: white;
  height: 12px;
  width: 15px;
  font-size: 16px;
}

#technique-container > #title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subtech-table {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

#tg {
  border-collapse: separate;
  border-color: #9abad9;
  border-spacing: 0;
  box-shadow: 0px 1px 4px 0px #607b93;
  border-radius: 8px;
}

th.tg-baqh {
  border-bottom-width: 1px solid;
}

#tg td {
  background-color: #fbfbfb;
  border-color: #9abad9;
  border-style: solid;
  border-width: 0px;
  color: #444;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#tg th {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-color: #9abad9;
  border-style: solid;
  border-width: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  background-color: rgb(199 220 237);
}
#tg .tg-baqh {
  text-align: center;
  vertical-align: top;
}

#popcloseBTN {
  margin-left: 450px;
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
  background: white;
  width: 30px;
  height: 30px;
  border: none;
}

#detail-content {
  display: flex;
  justify-content: center;
  -webkit-transition: all 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: all 1s ease;
}

/*contact 관련 css*/

#contact-container {
  margin: 0 auto;
  width: 1440px;
  padding: 138px 120px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-wrapper {
  border-top: 1px solid rgba(15, 15, 15, 0.2);
}

.footer-box-left {
  flex: 1 0 50%;
}

.footer-box-right {
  flex: 1 0 50%;
  text-align: right;
}

.contact-box {
  width: 30px;
  height: 30px;
  background-color: var(--maincolor);
}

.logo {
  margin-bottom: 10px;
}

.contact-box {
  width: 300px;
  height: 85px;
  border-radius: 30px;
  text-align: center;
  line-height: 85px;
  color: white;
  font-size: 1.5em;
}

#scenario-button {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 16px;
}

#scenario {
  width: 200px;
  height: 60px;
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 40px;
  background-color: white;
  font-size: 1.2em;
  cursor: pointer;
}

#reset > button {
  background-color: white;
  width: 50px;
  height: 50px;
  line-height: 0;
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 40px;
  font-size: 1.2em;
  cursor: pointer;
}

#reset > button img {
  width: 30px;
  height: 30px;
}
