/*
css 적용하는 방법 
 
class(ex. <div class="header"> 의 경우) = .header{}
id(ex.  <div id="wrapper"> 의 경우) = #wrapper{} 
header나 div(ex. <header>의 경우) = header{}
*/

/*
내가 기억하기 위해서 쓰는 것
margin : 다른 요소와의 사이 공간
padding : 내용과 테두리 사이의 여유 공간. 즉 object내의 내부여백
*/

/*
색 지정 변수
사용 방법: 아래와 같이 사용됨.

body {
  background-color: var(--maincolor);
}

:root{
    --maincolor : rgb(32, 122, 196);
    --textColorlight : black;
    --textColordark:white;
    --textColorBold:rgba(0, 4, 255, 0.897);
    --skyblue: skyblue;
}
*/

/*전체 페이지 기본 레이아웃*/
#wrapper {
  background-color: white;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

/*start-container 관련 css*/
#bg {
  position: relative;
  height: 900px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: fill;
  -webkit-transition: all 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: all 1s ease;
}

#start-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  top: 20%;
  padding-left: 30px;
  padding-right: 30px;
}

#name-describe {
  color: white;
  position: relative;
  z-index: 1;
  animation: fadeInDown 2s;
}
#name-describe h6 {
  color: white;
  padding: 75px 0px 0px 0px;
  font-size: 100px;
}

#name-describe p {
  font-size: 1.7em;
}

#name-describe hr {
  width: 200px;
  height: 2px;
  background-color: white;
}

#scroll {
  width: 100px;
  color: white;
  position: relative;
  left: 50%;
  margin-top: 260px;
  z-index: 1;
}

#scroll p {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
}

#scroll img {
  width: 100px;
  height: 100px;
}
/*content-container 관련 css*/

#content-container {
  margin: 213px auto 174px;
  max-width: 1440px;
  /*height: 1000px;*/
  display: flex;
  align-items: center;
  position: relative;
}

#content_title {
  margin-right: 100px;
  margin-left: 100px;
}

#introduce.section-img {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#introduce.section-text {
  position: absolute;
  top: 30%;
  left: 10%;
}

#circlediv {
  position: relative;
}

.circle-img {
  position: relative;
}

#introduce.section-text > p {
  font-size: 1.5em;
}

#introduce.section-smallText {
  position: relative;
  float: left;
}

.list-title {
  display: inline-block;
  color: blue;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sublist {
  float: left;
  width: 330px;
  text-align: center;
  margin-left: 10px;
  margin-top: 30px;
}

.subnavi {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#content-term.first {
  margin: 0 0 90px;
}

#content-term.second {
  margin: 0 0 20px;
}

#content-term.third {
  margin: 0 0 60px;
  padding-top: 127px;
}

/**/
#framework-container {
  margin: 213px auto 174px;
  max-width: 1440px;
  /*height: 1000px;*/
  position: relative;
}

#matrix-title > p.title {
  font-size: xxx-large;
  font-weight: bold;
}

#matrix-title > hr {
  width: 342px;
  border: 3px solid rgba(0, 4, 255, 0.897);
  margin-bottom: 10px;
}

#frameworkImg {
  text-align: center;
}

#report-container {
  height: 600px;
  position: relative;
}

#report {
  max-width: 1440px;
  margin: 213px auto 174px;
  display: flex;
  justify-content: space-between;
}
.report-list {
  flex: 0 0 900px;
}
.report-link {
  display: flex;
  align-items: center;
  position: relative;
  height: 159px;
}

.reportImg {
  flex: 0 0 200px;
  height: 129px;
}

.reportImg > img {
  width: 100%;
  height: 100%;
}

.report-title {
  font-size: 30px;
  font-weight: bold;
}

.workbutton > #button {
  width: 200px;
  height: 60px;
  background: rgba(0, 4, 255, 0.897);
  margin-top: 30px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  color: white;
}

.reportContent {
  margin-left: 40px;
  padding-right: 50px;
}

.report-list > li > a {
  height: 150px;
}
.report-list > li:nth-child(1) {
  border-top: 1px solid rgba(15, 15, 15, 0.2);
}

.report-list > li {
  border-bottom: 1px solid rgba(15, 15, 15, 0.2);
}

.reportContent {
  font-weight: lighter;
}

.content-title {
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 10px;
}
.content-text{
  font-size: 1rem;
  line-height: 1.77;
  height: 50px;
  overflow: hidden;
}
/*framework slider 관련 css*/

.slidewrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 40px;
}

.framework-slide .slidelist {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.framework-slide .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}

.framework-slide .slidelist > li > a {
  position: relative;
  display: block;
}

.framework-slide .slidelist > li > a img {
  width: 100%;
}

.framework-slide .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

.slide-button > div {
  display: none;
}

.framework-slide input[id*="step"] {
  display: none;
}

.framework-slide .left {
  left: 30px;
  background: url("../photo/icon/ic_page.png") center center / 100% no-repeat;
}

.framework-slide .right {
  right: 30px;
  background: url("../photo/icon/ic_page.png") center center / 100% no-repeat;
}

.framework-slide
  input[id="step1"]:checked
  ~ .slidewrapper
  .slide-button
  > div:nth-child(1) {
  display: block;
}

.framework-slide
  input[id="step2"]:checked
  ~ .slidewrapper
  .slide-button
  > div:nth-child(2) {
  display: block;
}

.framework-slide
  input[id="step3"]:checked
  ~ .slidewrapper
  .slide-button
  > div:nth-child(3) {
  display: block;
}

.framework-slide input[id="step1"]:checked ~ .slidewrapper .slidelist > li {
  transform: translateX(0%);
}

.framework-slide input[id="step2"]:checked ~ .slidewrapper .slidelist > li {
  transform: translateX(-100%);
}

.framework-slide input[id="step3"]:checked ~ .slidewrapper .slidelist > li {
  transform: translateX(-201%);
}

.slidebar {
  text-align: center;
  padding: 20px;
}
.slidebar > li {
  display: inline-block;
  vertical-align: middle;
}
.slidebar > li > label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #ccc;
  margin: 20px 30px;
  cursor: pointer;
}
.framework-slide
  input[id="step1"]:checked
  ~ .slidewrapper
  .slidebar
  > li:nth-child(1)
  > label {
  background: var(--maincolor);
}

.framework-slide
  input[id="step2"]:checked
  ~ .slidewrapper
  .slidebar
  > li:nth-child(2)
  > label {
  background: var(--maincolor);
}

.framework-slide
  input[id="step3"]:checked
  ~ .slidewrapper
  .slidebar
  > li:nth-child(3)
  > label {
  background: var(--maincolor);
}

#slidedescribe {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
