@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -3%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Outfit", "Pretendard", AppleGothic, sans-serif;
  letter-spacing: -0.05em;
  word-break: break-word;
}

:root {
  --maincolor:  rgb(23, 146, 247);
  --textColorlight: black;
  --textColordark: white;
  --textColorBold: rgba(0, 4, 255, 0.897);
  --skyblue: skyblue;
  --boxColor: #f08692;
  --font-small: 13px;
  --font-medium: 20px;
  --font-large: 36px;
  --font-bigLarge: 42px;
}

/*header 관련 css*/
header {
  position: relative;
  background-color: white;
  height: 90px;
}

#header-container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: transparent;
  transition: all 0.5s;
}

header .header.active {
  background: rgba(0, 0, 0, 0.95);
  height: 90px;
}

#act_header {
  background-color: rgb(255, 255, 255);
  top: 0;
}

.logo-active {
  display: none;
}

/*nav 관련 css*/
nav {
  float: right;
  position: relative;
}

.navbar {
  position: relative;
  float: right;
}

.navi {
  display: flex;
  flex-wrap: nowrap;
}

.nav-item {
  padding: 30px 30px;
  position: relative;
  overflow: hidden;
  font-size: 106.25%;
}

.nav-item_act {
  font-size: 106.25%;
}
.nav-item_act > a {
  color: white;
}

ul {
  list-style: none;
}

a {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration-line: none;
  color: rgb(0, 0, 0);
}
.navi a:hover {
  color: rgb(23, 146, 247);
}

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.wrap h1.active {
  color: white;
}

/*footer 관련 css*/
footer {
  background-color: black;
  color: white;
  position: relative;
}

footer .container {
  margin: 0 auto;
  max-width: 100%;
  height: 70px;
  padding: 34px 90px 0px 90px;
}

footer .top {
  position: fixed;
  bottom: 1%;
  right: 1%;
  cursor: pointer;
  background-color: black;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.top:hover {
  width: 75px;
  height: 75px;
  background-color: rgb(23, 146, 247);
}

footer img {
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

footer h4 {
  text-align: center;
  font-size: 35px;
}

/*footer container*/
.footer-container {
  width: 1440px;
  display: flex;
  padding: 138px 120px 140px;
  margin: 0 auto;
  font-size: 1.2em;
  justify-content: space-between;
}

.footer-box-left {
  flex: 1 0 50%;
}
.footer-box-right {
  font-size: 16px;
  flex: 1 0 50%;
  text-align: right;
}

.footer-box-left > .logo {
  font-size: 50px;
  margin-bottom: 10px;
}

#box-content {
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 30px;
}

.utility {
  color: white;
  border-left: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-box-right > .github > a > img {
  width: 50px;
  height: 50px;
  transform: rotate(0deg);
}

.footer-box-right > .github {
  margin-bottom: 30px;
}

#matrix-describe {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto 0 0;
}

/*화면 축소 시 css 변경*/
@media (max-width: 1080px) {
  .nav > .nav-icon > div::after {
    display: inline-block;
    content: "";
    background-image: url("../photo/icon/menubar_black.jpg");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 20%;
    background-size: contain;
    cursor: pointer;
  }

  .nav > .navbar > .logo-active {
    display: flex;
    content: "";
    position: relative;
    justify-content: space-between;
  }

  .nav-icon > div {
    position: relative;
    height: 20px;
  }

  .nav-item > a {
    color: white;
  }
  li.nav-item {
    padding: 0;
  }

  .navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -200%;
    top: 0;
    padding: 110px 30px 40px;
    z-index: 99;
    background-color: black;
    margin: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: all 1s ease;
  }
  .navi {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .navi > li {
    border-bottom: 1px solid;
  }

  .navbar.active {
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 100px 30px 40px;
    z-index: 2100;
    background-color: black;
    color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: all 1s ease;
    margin: 0;
  }

  #menu-container {
    padding-bottom: 60px;
  }
  .exit-active {
    cursor: pointer;
  }

  .exit-active > h1 {
    font-size: 50px;
    color: white;
    font-weight: lighter;
  }

  .dimmend.active {
    position: fixed;
    z-index: 80;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    padding: 50px;
    -webkit-transition: all 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: all 1s ease;
  }

  #header-container {
    line-height: 90px;
  }
}
