/*
css 적용하는 방법 
 
class(ex. <div class="header"> 의 경우) = .header{}
id(ex.  <div id="wrapper"> 의 경우) = #wrapper{} 
header나 div(ex. <header>의 경우) = header{}
*/

/*
내가 기억하기 위해서 쓰는 것
margin : 다른 요소와의 사이 공간
padding : 내용과 테두리 사이의 여유 공간. 즉 object내의 내부여백
*/

/*
색 지정 변수
사용 방법: 아래와 같이 사용됨.

body {
  background-color: var(--maincolor);
}
*/
:root{
    --maincolor : rgb(32, 122, 196);
    --textColorlight : black;
    --textColordark:white;
    --textColorBold:rgba(0, 4, 255, 0.897);
    --skyblue: skyblue;
}

/*전체 페이지 기본 레이아웃*/
*{margin:0;padding:0}
#wrapper{
    position:relative;
    margin:0 auto;
}

/*header, nav 관련 css*/
header{
    position:relative;
    background-color: white;
    height:90px;
}

.header{
    width: 100%;
    height:90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: transparent;
    transition: all 0.5s;
}

header .header.active {
    background: rgba(0, 0, 0, 0.95);
    height:90px;
}

#act_header{
    background-color: rgb(255, 255, 255);
    top: 0;
}

.logo{
    position:relative;
    float:left;
    width:200px;
    height:50px;
}

.wrap{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
}

.wrap h1.active{
    color: white;
}

nav{
    float:right;
    position:relative;

}

.navbar{
    display:flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    align-items: center;
}

.menu_container{
    display:inline-block;
}

.navi{
    display: flex;
    flex-wrap: nowrap;
}

.nav_item{
    font-size:106.25%;
}

.nav_item_act{
    font-size:106.25%;
}
.nav_item_act > a{
    color: white;
}

ul{
    list-style:none;
}

li.nav_item{
    padding:30px 30px;
    position:relative;
    overflow:hidden;
}

a{
    text-decoration-line:none;
    color: rgb(0, 0, 0);
}
.navi a:hover{
    color: rgb(32, 122, 196);
}

/*content 관련 css*/
.container{
    margin:0 auto;
    width:1440px;
}

.content_container{
    position:relative;
    margin:0 auto;
    width: 1440px;
}

#content_title{
    
    margin-right:100px;
    margin-left:100px;
}

#content_title_term{
    margin:0 0 60px;
    padding-top:127px;
}

#content_title_term_first{
    margin:0 0 60px;
    padding-top:127px;
}

#content_container{
    margin:0 auto;
    width:1440px;
    position:relative;
}


/*회사 소개 파트 관련 css*/

#introduceContent{
    position:relative;
    margin-left:200px;

}

#circlediv{
    position:relative;
}

.circle_img{
    position:relative;
}


#introduceContentText{
    position:absolute;
    top:30%;
    left:10%;
}
#introduceContentText>p{
    font-size:1.5em;
}

#introducesamllcontent{
    position:relative;
    float:left;
}

.divsample{
    position:absolute;
    width:100px;
    height:100px;
    background-color:red;
}

.listtitle{
    display:inline-block;
    color:blue;
    font-weight:bold;
    font-size:1.5em;
    margin-bottom:20px;
}

#content_title_term2{
    margin:0 0 20px;   
}

.contentlist{
    float:left;
    width:300px;
}

.contentnavi{
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
}

.container{
    margin:0 auto;
    padding: 0px 90px 0px 90px;
}

/*첫화면 관련 css*/

#bg{
    position:relative;
    background-image:url("../photo/startPageSample.jpg");
    background-size: cover;
    object-fit:fill;
}

#start_container{
    position:relative;
    width:1440px;
    margin:0 auto;
    top:30%;
    
}

#name_describe{
    color:white;
    position:relative;
    z-index:1;
}
#name_describe h6{
    color: white;
    padding: 75px 0px 0px 0px;
    font-size:100px;
}

#scroll{
    width:100px;
    color:white;
    position:relative;
    left:50%;
    margin-top:150px;
    z-index:1;
}