*{margin:0;padding:0}

:root{
    --maincolor : rgb(32, 122, 196);
    --textColorlight : black;
    --textColordark:white;
    --textColorBold:rgba(0, 4, 255, 0.897);
    --skyblue: skyblue;
}

/*header 관련 css*/
header{
    position:relative;
    background-color: white;
    height:90px;
}

#header-container{
    margin:0 auto;
    max-width:1440px;
    padding-left:30px;
    padding-right:30px
}

.header{
    width: 100%;
    height:90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: transparent;
    transition: all 0.5s;
}

header .header.active {
    background: rgba(0, 0, 0, 0.95);
    height:90px;
}

#act_header{
    background-color: rgb(255, 255, 255);
    top: 0;
}

/*nav 관련 css*/
nav{
    float:right;
    position:relative;

}

.navbar{
    position:relative;
    float:right;
}

#menu-container{
    display:inline-block;
}

.navi{
    display: flex;
    flex-wrap: nowrap;
}

.nav-item{
    padding:30px 30px;
    position:relative;
    overflow:hidden;
    font-size:106.25%;
}

.nav-item_act{
    font-size:106.25%;
}
.nav-item_act > a{
    color: white;
}

ul{
    list-style:none;
}

a{
    text-decoration-line:none;
    color: rgb(0, 0, 0);
}
.navi a:hover{
    color: rgb(23, 146, 247);
}


.wrap{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
}

.wrap h1.active{
    color: white;
}

/*footer 관련 css*/
footer{
    background-color: black;
    color: white;
    position : relative;
}

footer .container{
    margin:0 auto;
    max-width: 100%;
    height: 80px;
    padding: 39px 90px 0px 90px;
}

footer .top{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

footer img{
    width: 50px;
    height: 50px;
}

.top:hover{
    background-color: rgb(23, 146, 247);
}

footer h4{
    text-align: center;
    font-size: 35px;
}

/*화면 축소 시 css 변경*/
@media (max-width:1200px)
{
    
    .nav>.nav-icon>div::after{

        display:inline-block;
        content:"";
        background-image:url("../photo/menubar_black.jpg");
        width:30px;
        height:30px;
        position:absolute;
        top:0;
        right:20%;
        background-size:contain;
        cursor:pointer;
    }

    .nav>.navbar>.logo-active{
        display:flex;
        content:"";
        position:relative;
        justify-content:space-between;

    }

    .nav-icon>div{
        position:relative;
        height:20px;
    }

    .nav-item>a{
        color:white;
    }
    li.nav-item{
        padding:0;
    }
    

    .navbar{
        position:fixed;
        width:100%;
        height:100%;
        right:-200%;
        top:0;
        padding:110px 30px 40px;
        z-index:99;
        background-color:black;
        margin:0;
        -webkit-transition:all 1.0s ease;
        -moz-transition: opacity 1.0s ease;
        -o-transition:opacity 1.0s ease;
        -ms-transition:opacity 1.0s ease;
        transition:all 1.0s ease;

    }
    .navi{
        width:100vh;
        display:flex;
        flex-wrap:nowrap;
        flex-direction:column;
    }

    .navi>li{
        border-bottom:1px solid;
    }

    .navbar.active{
        position:fixed;
        width:100vh;
        height:100%;
        right:0;
        top:0;
        padding:50px 30px 40px;
        z-index:2100;
        background-color:black;
        color:white;
        -webkit-transition:all 1.0s ease;
        -moz-transition: opacity 1.0s ease;
        -o-transition:opacity 1.0s ease;
        -ms-transition:opacity 1.0s ease;
        transition:all 1.0s ease;
        margin:0;
    }


    #menu-container{
        padding-bottom:60px;
    }
    .exit-active{
        cursor:pointer;
    }

    .exit-active>h1{
        font-size:50px;
        color:white;
        font-weight:lighter;
    }

    .dimmend.active{
        position:fixed;
        z-index:80;
        overflow:auto;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,.7);
        box-sizing:border-box;
        padding:50px;
        transition:all 1.0s ease;
    }

    #header-container{
        line-height:90px;
    }
}